.CardsSelectorMobileContainer{
    width: 100%;
    margin-top: 130px;
    height: calc(100vh - 230px);
    background-color: aliceblue;
    overflow: hidden;
}

.frontCard{
    height: 40px;
    transition: height 0.6s ease-in;
    box-shadow: 0px 1px 9px 5px rgba(0, 0, 0, 0.5);
}

.selected{
    height: calc(100vh - 310px);
}

.background{
    background-position: center;
    background-size: cover;
    width: 100%;
    height: 100vh;
    font-family: 'Raleway', sans-serif;
    font-weight: bold;
    font-size: 14px;
    letter-spacing: 2px;
    -webkit-text-stroke: 0.3px #1E1E1E;
}

.title{
    display: flex;
    height: 40px;
    justify-content: space-between;
    align-items: center;
}

.malbec{
    background-position-y: center;
    background-position-x: 65%;
}
.region{
    padding: 0 20px ;
    line-height: initial;
    font-family: 'Raleway', sans-serif;
    font-weight: bold;
    letter-spacing: 2px;
    font-size: 12px;
}

.region .pais{
        font-family: 'Raleway', sans-serif;
        font-weight: 300;
        letter-spacing: 2px;
        font-size: 10px;
        -webkit-text-stroke: 0px #1E1E1E;
}