.technicalSheetContainer {
    padding: 2rem;
    background-color: #FFFFFF;
    color: #1E1E1E;
    display: flex;
    justify-content: space-between;

}

.textInformation {
    text-align: start;
}

/* img {
    width: 70px;
    height: 70px ;
} */