.sidebarContainer {
    position: relative;
    width: 100%;
    right: 0px;
    /* height: calc(100vh - 170px); */
}

.sidebar {
    position: absolute;
    top: 0;
    height: 100%;
    transition: right 0.5s ease;
    /* Add a transition effect to the right property */
    z-index: 9999;
    /* Make sure the sidebar is above other content */
    display: flex;
}

.sidebar.open {
    right: 0;
    /* Move the sidebar to the right when open */
}

.sidebar.closed {
    right: -300px;
    /* Move the sidebar off-screen to the right when closed */
}

.option {
    all: unset;
    width: 50px;
    height: 100%;
    transition: margin-right 0.5s ease-out;
    display: flex;
    align-items: center;

}

.option .title {
    letter-spacing: 5px;
    font-weight: 600;
    font-size: 1.2rem;
    white-space: nowrap;

}

.option .year {
    letter-spacing: 5px;
    font-weight: 600;
    font-size: 1rem;
}

.option .subtitle {
    letter-spacing: 5px;
    font-weight: 600;
    font-size: 0.8rem;
    white-space: nowrap;
    margin-bottom: -0.25rem;
}

.option .subtitleTwo {
    letter-spacing: 5px;
    font-weight: 400;
    font-size: 0.6rem;
    white-space: nowrap;
    margin-top: -0.25rem;
}

.optionSelected {
    order: 1;
    margin-right: 0;
    all: unset;
    width: 80px;
    height: 100%;
    display: flex;
    align-items: center;
    background-image: none !important;
    backdrop-filter: blur(2px);

}

.optionSelected .title {
    letter-spacing: 5px;
    font-weight: 600;
    font-size: 1.5rem;
    white-space: nowrap;
}

.optionSelected .year {
    letter-spacing: 5px;
    font-weight: 700;
    font-size: 1rem;
}

.optionSelected .subtitle {
    letter-spacing: 5px;
    font-weight: 700;
    font-size: 0.8rem;
    white-space: nowrap;
    margin-bottom: -0.125rem;
}

.optionSelected .subtitleTwo {
    letter-spacing: 5px;
    font-weight: 500;
    font-size: 0.6rem;
    white-space: nowrap;
    margin-top: -0.125rem;
}