#root {
  max-width: 1280px;
  margin: 0 auto;
  text-align: center;
}

@font-face {
  font-family: 'Futura Book';
  src: url('./fonts/futuraBook.otf') format('opentype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Letter Gothic Std';
  src: url('./fonts/letterGothicStd-Bold.otf') format('opentype');
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'Letter Gothic Std';
  src: url('./fonts/letterGothicStd.otf') format('opentype');
  font-weight: normal;
  font-style: normal;
}