#root {
  max-width: 1920px;
  /* height: 100%;
  max-height: 1080px; */
  margin: 0 auto;
  text-align: center;
}

@font-face {
  font-family: 'Futura Book';
  src: url('./fonts/futuraBook.otf') format('opentype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Letter Gothic Std';
  src: url('./fonts/letterGothicStd-Bold.otf') format('opentype');
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'Letter Gothic Std';
  src: url('./fonts/letterGothicStd.otf') format('opentype');
  font-weight: normal;
  font-style: normal;
}